<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking Service</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Parking Service</h1>
    <form method="POST">
      <div class="form__fieldset">
        <label for="name" class="form__label">Name:</label>
        <input type="text" name="name" id="name" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="student_id" class="form__label">Student ID:</label>
        <input type="text" name="student_id" id="student_id" class="form__input" />
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Confirm"
        />
      </div>
    </form>
  </body>
</html>
