<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Salary Inquiry</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Employee Salary Inquiry</h1>
    <form method="POST">
        <div>
            <label for="emp_id">Employee ID:</label>
            <input type="text" id="emp_id" name="emp_id" required>
        </div>
        <br />
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br />
        <div>
            <input type="submit" value="Get Salary">
        </div>
    </form>
</body>
</html>
